<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.402.44" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.416.14" targetFramework="net48" />
  <package id="DevExpressMvvm" version="24.1.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.5" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.5" targetFramework="net48" />
  <package id="pythonnet" version="3.0.5" targetFramework="net48" />
  <package id="SharpCompress" version="0.39.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="WPF-UI" version="4.0.2" targetFramework="net48" />
  <package id="WPF-UI.Abstractions" version="4.0.2" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.4" targetFramework="net48" />
</packages>